<h1>Comprar plano</h1>

<%= render partial: "shared/display_errors", locals: { model: @enrollment } %>

<% unless @customer.nil? %>
  <%= render partial: "form" %>
<% else %>
  <p class='h4'>Você deve <%= link_to "entrar", Rails.configuration.external['classroom_app'] %> para comprar um plano</p>
<% end %>