<%= render partial: 'shared/display_errors', locals: { model: @class_category } %>

<h1> Editar categoria de aula - <%= @class_category.name %></h1>
<%= render partial: 'form', locals: { btn_action: 'Editar Categoria de Aula' }%>
