<h1>Cadastro de Plano</h1>
<% if @plan.errors.any? %>
  <%= render partial: "shared/display_errors", locals: { model: @plan } %>
<% end %>

<%= render partial: 'form', locals: { btn_action: 'Cadastrar Plano' } %>